<div class="container">
  <h1>Create Dose</h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>


</div>

